<%   i = 0 %>

<h1>Our Cakes</h1>
<p>Our signature cake menu. For custom orders please fill out our <a href="http://localhost:4567/contact">contact Form</a></p>
<div class="container">

<div class="row">

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
  </div>

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
  </div>

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
  </div>

</div>

<div class="row">

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
   </div>

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
  </div>

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
  </div>

</div>

<div class="row">

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
  </div>

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
  </div>

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
  </div>

</div>

<div class="row">

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
  </div>

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
  </div>

  <div class="col">
    <img src="<%= $cakes[i][:img] %>" alt="">
    <h5><%= $cakes[i][:name] %></h5>
    <p><%= $cakes[i][:price] %></p>
    <% i += 1 %>
  </div>

</div>
</div>
