<% i = 0 %>

<h1>Our Cookies</h1>
<p>Our handmade cookies will surely leave you wanting more!</p>

<div class="container">

<div class="row">

  <div class="col">
    <img src="<%= $cookies[i][:img] %>" alt="">
    <h4><%= $cookies[i][:name] %></h4>
    <p><%= $cookies[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cookies[i][:img] %>" alt="">
    <h4><%= $cookies[i][:name] %></h4>
    <p><%= $cookies[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cookies[i][:img] %>" alt="">
    <h4><%= $cookies[i][:name] %></h4>
    <p><%= $cookies[i][:price] %></p>
    <% i += 1 %>
    </div>

</div>

<div class="row">

  <div class="col">
    <img src="<%= $cookies[i][:img] %>" alt="">
    <h4><%= $cookies[i][:name] %></h4>
    <p><%= $cookies[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cookies[i][:img] %>" alt="">
    <h4><%= $cookies[i][:name] %></h4>
    <p><%= $cookies[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cookies[i][:img] %>" alt="">
    <h4><%= $cookies[i][:name] %></h4>
    <p><%= $cookies[i][:price] %></p>
    <% i += 1 %>
    </div>

</div>

<div class="row">

  <div class="col">
    <img src="<%= $cookies[i][:img] %>" alt="">
    <h4><%= $cookies[i][:name] %></h4>
    <p><%= $cookies[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cookies[i][:img] %>" alt="">
    <h4><%= $cookies[i][:name] %></h4>
    <p><%= $cookies[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cookies[i][:img] %>" alt="">
    <h4><%= $cookies[i][:name] %></h4>
    <p><%= $cookies[i][:price] %></p>
    <% i += 1 %>
    </div>

</div>

<div class="row">

  <div class="col">
    <img src="<%= $cookies[i][:img] %>" alt="">
    <h4><%= $cookies[i][:name] %></h4>
    <p><%= $cookies[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <h4><%= %></h4>
    <p><%= %></p>
    </div>

  <div class="col">
    <h4><%= %></h4>
    <p><%= %></p>
    </div>


</div>
</div>
