<% i = 0 %>

<h1>Our Cupcupcakes</h1>
<p>Try our world famous cupcakes today!</p>

<div class="container">

<div class="row">

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

</div>

<div class="row">

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

</div>

<div class="row">

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

</div>

<div class="row">

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

  <div class="col">
    <img src="<%= $cupcakes[i][:img] %>" alt="">
    <h4><%= $cupcakes[i][:name] %></h4>
    <p><%= $cupcakes[i][:price] %></p>
    <% i += 1 %>
    </div>

</div>
</div>
